@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #0a5c97;
    background-size: cover;
    width: 100%;
    font-family: 'Roboto' , sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    
}
/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
} */
a{
    text-decoration: none;
}
h2{
    font-size: 32px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.5px;
    margin-left: 30px;
}
h4{
    font-size: 28px;
    font-weight: 700;
    color: white;
    line-height: 1.2;
    margin-left: 26px;
}
p{
    letter-spacing: 0.5px;
    line-height: 2em;
    color: white;
    margin-top: 20px;
    margin-bottom: 1rem;
    margin-left: 26px;
}
span{
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
}

.button{
    display: inline-block;
    padding: 12px 22px;
    background-color: #fff;
    color: #007bff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 30px;
    border: none;
}
.button:hover{
    background-color: #007bff;
    color: white!important;
    transition: all 0.5s;
}
.buttons{
    display: inline-block;
    padding: 12px 22px;
    background-color: #fff;
    color: #007bff;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;;
    border: none;
    margin-left: 50px;
}
.buttons:hover{
    background-color: #007bff;
    color: white!important;
    transition: all 0.5s;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.after-heading-line{
    height: 3px;
    width: 500px;
    background-color: white;
    margin: 20px 0;
}

.top{
    padding: 60px 0 40px 0;
} 



#menu{
    display: none;
    position: absolute;
    top:0;
    left: 0;
}

.nav{
    position: fixed;
    left: 4%;
    align-items: center;
    width: 22%;
    height: 100vh;
    background-color:#084574;
    text-align: center;
    justify-content: center;
    overflow-y: auto!important;
}
.nav::-webkit-scrollbar{
    display: none;
}

.nav img{
    margin-top: 60px;
    width: 160px;
    height: 160px;
    border-radius: 10%;
    
}
.blugoon-content{
    margin: 20px 0 40px 0;
}
.blugoon-content span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.nav-links a{
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 1px solid #69C;
}

.nav-links a:hover{
    background: #fff;
    color: #2279BD;
}


.nav-links li:last-child a{
    border-bottom: 1px solid #69C;
}
.nav-icons{
    margin-top: 60px;
    color: whitesmoke;
}
.nav-icon i{
    display: inline-block;
}
.copyright{
    margin-top: 60px;
}
.copyright p{
    border-top: 1px solid rgba(250,250,250,0.1);
    /* display: inline-block; */
    /* width: 100%; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
    
}
.The-line{
    padding-bottom: 60px;
    border-bottom: 3px solid rgba(250,250,250,0.25);
    width: 65%;
    position: relative;
    left: 30%;
    right: 5%;
}

.about,.gallery,.services,.gallery,.contact{
    position: relative;
    width: 65%;
    left: 30%;
    right: 5%;
}



.about-me-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.header-image img{
    width: 100%;
}
.about-me-middle-left{
    width: 66%;
}
.about-me-middle-right{
    width: 30%;
}
.about-me-middle-right img{
    width: 100%;
    border-radius: 5%;
}
.about-me-middle{
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid rgba(250,250,250,0.1);
}
.about-me-bottom{
    padding: 0 15px;
}

.about-me-bottom-left{
    flex:1;
}
.about-me-bottom-right{
    flex:2;
}

.service-box{
    max-width: 50%;
    padding: 10px 5px;
}
.service-box i{
    text-align: center;
    color: white;
    font-size: 32px;
}
.service-box-content{
    background-color: rgba(250,250,250,0.1);
    padding: 50px;
}
.service-box-content:hover{
    background-color: #2279BD;
    /* color: #2279BD; */
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}

.service-box-content h1{
    padding: 20px 0;
    color: white;
}



.form{
    width: 100%;
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.form span{
    text-transform: capitalize;
    display: inline-block;
    margin-right: 25px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
}

.form input[type="radio"]:checked + span{
    border-bottom: 2px solid #2279BD;
}
.form .active{
    color: #2279BD;
}

.form input[type="radio"]{
 display: none;
}

.Gallery-box{
    display: flex;
    flex-wrap: wrap;
}
.Gallery-item{
    position: relative; 
    overflow: hidden;   
}




.Gallery-item{
    margin: 1%;
    max-width: 48%;
}


/* gallery section end */


/* contact section start */
.contact{
    padding-bottom: 60px;
}

.contact-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.contact-form input{
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 50px;
    width: 100%;
    padding-left: 15px;
}
.contact-form .forplaceholder::placeholder{
    color: rgba(242, 242, 242, 0.867);
}

.contact-form input[type="text"]{
    width: 48%;
    margin: 0 2%px;
}
.contact-form input[type="email"]{
    width: 48%;
    margin: 0 2%;
}
#choose-subject{
    width: 100%;
}
.contact-form textarea{
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}





@media only screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    #menu{
        display: block;
    }
    .after-heading-line {
        width: 100%;
    }
    .about-me-middle-right {
        width: 100%;
        margin-top: 40px;
    }

    .row{
        flex-direction: column;
    }
    .showmenu{
        display: block;
        width: 100%;
        left: 10;
        top: 0;
        position: static;
    } 
    nav{
        display: none;
       
        z-index: 999;
    }
    .about,.gallery,.services,.gallery,.contact,.section-end-line{
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .about-me-middle-left{
        width: 100%;
    }
    .about-me-bottom {
        padding: 0;
    }
    .service-box {
        max-width: 100%;
        padding:5px 0;
    }
    .Gallery-item{
        max-width: 100%;
        margin: 4%;
    }
    .contact-form input[type="text"],.contact-form input[type="email"]{
        width: 100%;
       
        
    }
    .contact-form input[type="email"]{
        margin-left:0;
        margin-right: 0;
        margin-bottom: 2%;
    }
    .contactform {
        margin:2% 0;
    }
    
}
/* @media only screen and (max-width:800px){
    
    .nav{
        display: none;
    } */

@media only screen and (max-width:481px){
    .after-heading-line {
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .nav{
        display: none;
        width: 80%;
    }
    .about,.gallery,.services,.gallery,.contact,.section-end-line{
        width: 100%;
    }
    .about-me-middle-left{
        width: 100%;
    }
    .about-me-middle-right {
        width: 100%;
        margin-top: 40px;
    }
    .about-me-bottom {
        padding: 0;
    }
    .service-box {
        max-width: 100%;
        padding:5px 0;
    }
    .Gallery-item{
        max-width: 100%;
        margin: 4%;
    }
    .contact-form input[type="text"],.contact-form input[type="email"]{
        width: 100%;
       
        
    }
    .contact-form input[type="email"]{
        margin-left:0;
        margin-right: 0;
        margin-bottom: 2%;
    }
    .contactform {
        margin:2% 0;
    }

}
